{% extends 'back.html.twig' %}

{% block title %}Participant{% endblock %}

{% block body %}
    <h1>Participant</h1>
<br><br><br><br><br><br><br><br><br><br>
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ participant.id }}</td>
            </tr>
            <tr>
                <th>DateParticipation</th>
                <td>{{ participant.dateParticipation ? participant.dateParticipation|date('Y-m-d H:i') : '' }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ participant.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_participant_index') }}">back to list</a>

    <a href="{{ path('app_participant_edit', {'id': participant.id}) }}">edit</a>

    {{ include('participant/_delete_form.html.twig') }}
{% endblock %}
