{% extends 'base5.html.twig' %}

{% block title %}Profil du Médecin{% endblock %}
{% block body %}

{% block style %}
        <style>
            /* Style pour le lien de profil */
        .profile-link {
            position: absolute;
            top: 10px; /* Ajustez la position selon vos besoins */
            right: 10px; /* Ajustez la position selon vos besoins */
            color: #007bff; /* Couleur du lien */
            text-decoration: none;
            margin-left: 10px; /* Espace entre les liens */
        }
    </style>
{% endblock %}


{% block corps %}
    <h1>Profil </h1>


    <!-- Placer la photo de profil en haut à droite -->
    <div style="position: absolute; top: 10px; right: 10px;">
        {% if user.profileImage is not null %}
            <img src="{{ asset('uploads/profile_images/' ~ user.profileImage) }}" alt="Photo de profil" style="width: 100px; height: 100px; object-fit: cover; border-radius: 50%;" />
        {% else %}
            <!-- Afficher une image par défaut si aucune image de profil n'est définie -->
            <div style="width: 100px; height: 100px; background-color: #f0f0f0; border-radius: 50%;"></div>
        {% endif %}

    </div>

    <!-- Afficher les autres informations du médecin -->
    <p>Nom: {{ user.nom }}</p>
    <p>Prénom: {{ user.prenom }}</p>
    <p>Email: {{ user.email }}</p>
    <p>Numéro de téléphone: {{ user.numerotelephone }}</p>
    <p>Rôle: {{ user.role }}</p>
    <p>Ville: {{ user.ville }}</p>
    <p>Sexe: {{ user.sexe }}</p>

    <!-- Lien de modification vers la page de formulaire de mise à jour -->

{% endblock %}
{% endblock %}

