{% extends 'back.html.twig' %}

{% block title %}List Evenement {% endblock %}

{% block body %}
    <h1>List Evenement </h1>
 <br><br><br><br><br><br><br><br><br><br>
     <a href="{{ path('app_evenement_new') }}" class="btn btn-primary">Create new</a>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>ImageEvenement</th>
                <th>TypeEvenement</th>
                <th>NomEvenement</th>
                <th>LieuEvenement</th>
                <th>DateDebut</th>
                <th>DateFin</th>
                <th>Nb_participants</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for evenement in evenements %}
            <tr>
                <td>{{ evenement.id }}</td>
                <td><img src="{{ asset('uploads/' ~evenement.imageEvenement) }}" style=" width:150px; height:150px; " alt=""/></td>
                <td>{{ evenement.typeEvenement }}</td>
                <td>{{ evenement.nomEvenement }}</td>
                <td>{{ evenement.lieuEvenement }}</td>
                <td>{{ evenement.dateDebut ? evenement.dateDebut|date('Y-m-d H:i') : '' }}</td>
                <td>{{ evenement.dateFin ? evenement.dateFin|date('Y-m-d H:i') : '' }}</td>
                <td>{{ evenement.nbParticipants }}</td>
                <td>{{ evenement.description }}</td>
                <td>
                    <a href="{{ path('app_evenement_show', {'id': evenement.id}) }}"class="btn btn-primary">show</a>
                    <a href="{{ path('app_evenement_edit', {'id': evenement.id}) }}" class="btn btn-primary">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

   
{% endblock %}
