{% include 'FrontOffice/header.html.twig' %}

<style>
    .container {
        margin-top: 100px; /* Espacement entre le header et les cartes */
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }

    .card {
        background-color: #f9f9f9;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 40px;
        width: calc(33.33% - 40px); /* 33.33% moins la marge de 20px sur les côtés */
        margin: 20px;
        text-align: center;
    }

    .card h2 {
        font-size: 1.5rem;
        margin-bottom: 10px;
    }

    .card p {
        margin-bottom: 5px;
    }

    .map {
        width: 100%;
        height: 400px;
        margin-top: 50px;
    }
</style>

<div class="container">
    {% for hopital in hopitals %}
        <div class="card">
            <h2>{{ hopital.Nom }}</h2>
            <p><strong>Adresse:</strong> {{ hopital.Adresse }}</p>
            <p><strong>Téléphone:</strong> {{ hopital.Telephone }}</p>
            <p><strong>Email:</strong> {{ hopital.Email }}</p>
            <p><strong>Nombre de chambres:</strong> {{ hopital.NombreChambre }}</p>
            <a href="{{ path('app_reservation_new', {'hopitalId': hopital.id}) }}" class="btn btn-primary">Réserver</a>
        </div>
    {% else %}
        <p>Aucun enregistrement trouvé</p>
    {% endfor %}
</div>

<iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6383401.682890427!2d7.422014173316835!3d33.84394073695418!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x157d89360e3f40b5%3A0x92f66a53b7ae8174!2sTunisia!5e0!3m2!1sen!2stn!4v1645212900715!5m2!1sen!2stn" allowfullscreen="" loading="lazy"></iframe>

<!--  <a href="{{ path('app_hopital_new') }}">Create new</a> -->

    

