{% extends 'base5.html.twig' %}

{% block home %}
{% endblock %}
{% block body %}
    <section class="about" id="about">
        <h1 class="heading"> <span>about</span> {{ blog.titre }} </h1>

        <div class="row">

            <div class="image">
                <!-- Assuming you have an attribute for the image in your blog object -->
                <img src="{{ asset('uploads/images/' ~ blog.image) }}" alt="">
            </div>

            <div class="content">
                <h3>what makes {{ blog.titre }} special?</h3>
                <p>{{ blog.content }}</p>
                <p>Published on: {{ blog.date ? blog.date|date('Y-m-d H:i:s') : 'Date not available' }}</p>
                
            </div>

        </div>

        <hr class="my-4">
                <h1>{{user.nom}}</h1>

        <div class="container">
            {% for comment in blog.comments %}
                <div class="col-md-5">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <section class="post-heading">
                                <div class="row">
                                    <div class="col-md-11">
                                        <div class="media">
                                            <div class="media-left">
                                                <a href="#">
                                                    <!-- Placeholder for user profile picture -->
                                                    <img class="media-object photo-profile" src="{{ asset('images/user.webp') }}" width="40" height="40" alt="...">
                                                                    <h1 style="color:black;" >{{user.nom}}</h1>

                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <a href="#" class="anchor-username"><h4 class="media-heading">Emna ounissi</h4></a>
                                                <a href="#" class="anchor-time">{{ comment.date ? comment.date|date('Y-m-d H:i:s') : '' }}</a>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </section>
                            <section class="post-body">
                                <p>{{ comment.content }}</p>
                            </section>
                            <section class="post-footer">
                                <hr>
                                <div class="post-footer-option container">
                                    <ul class="list-unstyled">

                                        <li><i class="glyphicon glyphicon-heart"> {{ comment.likes }} likes</i></li>
                                        <li><a href="{{ path('app_comment_like', {'id': comment.id}) }}"></i> Like</a></li>
                                               <li><a href="{{ path('app_comment_edit', {'id': comment.id}) }}"></i> Edit</a></li>
               <li>  <a href="{{ path('app_comment_delete', {'id': comment.id}) }}"  onclick="return confirm('Are you sure you want to delete this comment?')">Delete</a>
              
              </li>
                                 
           
                                    </ul>
                                </div>
                                <!-- Additional comments or replies could be loaded here -->
                            </section>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="col-md-5">
                    <p>No comments yet.</p>
                </div>
            {% endfor %}
        </div>
                 <div >
        {{ form_start(form , {'attr': {'style': 'max-width: 1400px; margin: auto; padding: 20px; background-color: #f9f9f9; border-radius: 10px; box-shadow: 0 2px 4px rgba(0,0,0,.2);'}}) }}
        {{ form_row(form.content , {
        'attr': {'style': 'width: 100%; height: 120px; margin-bottom: 15px; padding: 10px; border-radius: 5px; border: 1px solid #ccc;'}
    }) }}
        {{ form_row(form.submit, { 'label': 'Comment', 'attr': {'class': 'btn btn-primary'} }) }}
        {{ form_end(form) }}
                </div>
        <a href="{{ path('app_blog_index') }}" class="btn btn-secondary">Back to List</a>
        
  {# <a href="{{ path('app_blog_delete', {'id': blog.id}) }}" class="btn btn-primary">Delete</a> #}

        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </section>
{% endblock %}
