<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}DocDirect{% endblock %}</title>
    <link rel="icon" href="{{ asset('images/logo.png') }}">

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- custom css file link  -->


    <link rel="stylesheet" href="{{ asset('css/style.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/carousel.css') }}"/>
 {% block styles %}
        <style>
            .profile-image-container {
                position: fixed;
                top: 0;
                right: 0;
                margin: 10px;
                width: 65px; /* Ajustez la largeur selon vos besoins */
                height: 65px; /* Ajustez la hauteur selon vos besoins */
                border-radius: 50%;
                overflow: hidden;
            }

            .profile-image {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            .default-profile-image {
                /* Styles pour une image par défaut si nécessaire */
                width: 100%;
                height: 100%;
                background-color: #f0f0f0; /* Couleur de fond par défaut */
            }

            /* Style pour le bouton de déconnexion */
            .disconnect-btn {
                position: absolute;
                top: 10px;
                right: 145px; /* Ajustez la position selon vos besoins */
                background-color: #dc3545; /* Couleur du bouton */
                color: #fff; /* Couleur du texte */
                padding: 8px 12px; /* Ajustez le rembourrage selon vos besoins */
                border: none;
                border-radius: 5px;
                text-decoration: none;
            }

            /* Style pour le bouton de profil */
            .profile-btn {
                position: absolute;
                top: 10px; /* Ajustez la position selon vos besoins */
                right:80px;
                background-color: #007bff; /* Couleur du bouton */
                color: #fff; /* Couleur du texte */
                padding: 8px 12px; /* Ajustez le rembourrage selon vos besoins */
                border: none;
                border-radius: 5px;
                text-decoration: none;
            }

        </style>
    {% endblock %}
</head>
<body>
<header class="header">

    <a href="#" class="logo ">
        <img src="{{ asset('images/logo.png') }}" alt="">
    </a>

    <h1 class="heading ">DocDirect  </h1>
    <h1 class="heading ">     </h1>
    <h1 class="heading ">     </h1>

    <nav class="navbar">

        <a href="/medecin/dashboard">home</a>
        <a href="/evenement/front">Events</a>
      
        <!-- blog -->
        <a href="/blog">blogs</a>

        <a href="#review">review</a>
        <a href="#contact">contact</a>
        <a>

    <div class="d-flex justify-content-between">
            <a href="/logout" class="btn btn-danger disconnect-btn">Disconnect</a>
            <a href="{{ url('medecin_profile') }}" class="btn btn-primary profile-btn">Profil</a>
        </div>

        <div class="profile-image-container">
            {% if user.profileImage %}
                <img src="{{ asset('uploads/profile_images/' ~ user.profileImage) }}" alt="Photo de profil" class="profile-image" />
            {% else %}
                <div class="default-profile-image"></div>
            {% endif %}
        </div>

</a>
    </nav>

    <div class="icons">
        

        
    </div>

    <div class="search-form">
        <input type="search" id="search-box" placeholder="search here...">
        <label for="search-box" class="fas fa-search"></label>
    </div>



</header>
{% block home %}
    <section class="home" id="home">

        <div class="content">
            <h3> DocDirect your destination for healthcare</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat labore, sint cupiditate distinctio tempora reiciendis.</p>
            <a href="#" class="btn">read more</a>
        </div>

    </section>
{% endblock %}

<!-- header section ends -->

<!-- home section starts  -->


<!-- header section starts  -->



<!-- home section ends -->

<!-- about section starts  -->

{% block body %}
{% endblock %}
<!-- about section ends -->



<!-- products section starts -->

<section class="products" id="products">

   


    {% block blogs %}
        {% endblock %}

</section>
<!-- products section ends -->

<!-- eventss section starts 
{% block blogs2 %}
<section class="blogs" id="blogs">

    <h1 class="heading"> our <span>events</span> </h1>

    <div class="box-container">

        <div class="box">
            <div class="image">
                <img src="{{ asset('images/blog-1.jpeg') }}" alt="">
            </div>
            <div class="content">
                <a href="#" class="title">tasty and refreshing coffee</a>
                <span>by admin / 21st may, 2021</span>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, dicta.</p>
                <a href="#" class="btn">read more</a>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="{{ asset('images/blog-2.jpeg') }}" alt="">
            </div>
            <div class="content">
                <a href="#" class="title">tasty and refreshing coffee</a>
                <span>by admin / 21st may, 2021</span>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, dicta.</p>
                <a href="#" class="btn">read more</a>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="{{ asset('images/blog-3.jpeg') }}" alt="">
            </div>
            <div class="content">
                <a href="#" class="title">tasty and refreshing coffee</a>
                <span>by admin / 21st may, 2021</span>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, dicta.</p>
                <a href="#" class="btn">read more</a>
            </div>
        </div>

    </div>

</section>
{% endblock %}
 -->
<!-- events section ends -->


<!-- review section starts  -->


<!-- review section ends -->

<!-- contact section starts  -->



<!-- contact section ends -->



<!-- footer section starts  -->

<section class="footer">

    <div class="share">
        <a href="#" class="fab fa-facebook-f"></a>
        <a href="#" class="fab fa-twitter"></a>
        <a href="#" class="fab fa-instagram"></a>
        <a href="#" class="fab fa-linkedin"></a>
        <a href="#" class="fab fa-pinterest"></a>
    </div>

    <div class="links">
        <a href="#">home</a>
        <a href="#">menu</a>
        <a href="#">products</a>
        <a href="#">review</a>
        <a href="#">contact</a>
        <a href="#">blogs</a>
    </div>

    <div class="credit">created by <span>angelofdeath.x_x</span> | all rights reserved</div>

</section>

<!-- footer section ends -->

















<!-- custom js file link  -->
<script src="{{ asset('js/script.js') }}"></script>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<!-- Include jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Include Bootstrap JavaScript library -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>



</body>
</html>