<!-- header section start -->
<div class="header_section">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="logo">
                    <a href="{{ path('homePage') }}">
                        <img src="{{ asset('Front/img/logo.png') }}">
                    </a>
                </div>
            </div>
            <div class="col-md-9">
                <div class="menu_text">
                    <ul>
                        <li>
                            <a href="{{ path('homePage') }}">Home</a>
                        </li>
                        <li>
                            <a href="{{ path('aboutPage') }}">About</a>
                        </li>
                        <li>
                            <a href="{{ path('doctorPage') }}">Doctor</a>
                        </li>
                        <li>
                            <a href="{{ path('departementsPage') }}">Departments</a>
                        </li>
                        <li>
                            <a href="{{ path('blogPage') }}">Blog</a>
                        </li>
                        <li>
                            <a href="{{ path('contactPage') }}">Contact</a>
                        </li>
                        <li>
                            <a href="#"><img src="{{ asset('Front/img/search-icon.png') }}"></a>
                        </li>
                        <li>
                            <a href="{{ path('app_logout') }}">>LOGOUT</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>