<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Our Website{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!-- css -->
    {% block css %}
        <!-- bootstrap css -->
        <link rel="stylesheet" href="{{ asset('Front/css/bootstrap.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset('Front/css/nice-select.css') }}"/>
        <link rel="stylesheet" href="{{ asset('Front/css/font-awesome.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset('Front/css/icofont.css') }}"/>
        <link rel="stylesheet" href="{{ asset('Front/css/slicknav.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset('Front/css/owl-carousel.css') }}"/>
        <link rel="stylesheet" href="{{ asset('Front/css/datepicker.css') }}"/>
        <link rel="stylesheet" href="{{ asset('Front/css/animate.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset('Front/css/magnific-popup.css') }}"/>

        <!-- style css -->
        <link rel="stylesheet" href="{{ asset('Front/css/style.css') }}"/>
        <link rel="stylesheet" href="{{ asset('Front/css/normalize.css') }}"/>
        <!-- Responsive-->
        <link rel="stylesheet" href="{{ asset('Front/css/responsive.css') }}"/>
        <!-- fevicon -->
        <link rel="icon" href="Front/img/fevicon.png" type="image/gif" />
        <!-- Scrollbar Custom CSS -->
        <link rel="stylesheet" href="{{ asset('Front/css/jquery.mCustomScrollbar.min.css') }}"/>
        <!-- Tweaks for older IEs-->
        <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
        <!-- owl stylesheets -->
        <link rel="stylesheet" href="{{ asset('Front/css/owl.carousel.min.css') }}"/>
        <link rel="stylesheet"href="{{ asset('Front/css/owl.theme.default.min.css') }}"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
    {% endblock %}

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
{% include 'project/header2.html.twig' %}
{% block body %}{% endblock %}
{% include 'project/footer.html.twig' %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    <!-- Javascript files-->
    <script  src="{{ asset('Front/js/jquery.min.js') }}"></script>
    <script  src="{{ asset('Front/js/jquery-migrate-3.0.0.js') }}"></script>
    <script  src="{{ asset('Front/js/jquery-ui.min.js') }}"></script>
    <script  src="{{ asset('Front/js/easing.js') }}"></script>
    <script  src="{{ asset('Front/js/popper.min.js') }}"></script>
    <script  src="{{ asset('Front/js/bootstrap-datepicker.js') }}"></script>
    <script  src="{{ asset('Front/js/jquery.nav.js') }}"></script>
    <script  src="{{ asset('Front/js/slicknav.min.js') }}"></script>
    <script  src="{{ asset('Front/js/jquery.scrollUp.min.js') }}"></script>
    <script  src="{{ asset('Front/js/colors.js') }}"></script>
    <script  src="{{ asset('Front/js/niceselect.js') }}"></script>
    <script  src="{{ asset('Front/js/tilt.jquery.min.js') }}"></script>
    <script  src="{{ asset('Front/js/owl-carousel.js') }}"></script>
    <script  src="{{ asset('Front/js/jquery.counterup.min.js') }}"></script>
    <script  src="{{ asset('Front/js/steller.js') }}"></script>
    <script  src="{{ asset('Front/js/wow.min.js') }}"></script>
    <script  src="{{ asset('Front/js/jquery.magnific-popup.min.js') }}"></script>
    <script  src="{{ asset('Front/js/bootstrap.min.js') }}"></script>
    <script  src="{{ asset('Front/js/main.js') }}"></script>
    <script  src="{{ asset('Front/js/owl-carousel.js') }}"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
    <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
    <script  src="{{ asset('Front/js/jquery-3.0.0.min.js') }}"></script>
    <!-- sidebar -->
    <script  src="{{ asset('Front/js/jquery.mCustomScrollbar.concat.min.js') }}"></script>
    <script  src="{{ asset('Front/js/custom.js') }}"></script>
    <script src="{{ asset('Front/js/owl.carousel.js') }}"></script>
    <script  src="{{ asset('Front/js/js/popper.min.js') }}"></script>
    <script  src="{{ asset('Front/js/bootstrap.bundle.min.js') }}"></script>
    <script  src="{{ asset('Front/js/plugin.js') }}"></script>
    <!-- javascript -->
    <!-- Owl Carousel JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
    <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
{% endblock %}
</body>
</html>